# a comma separated list of email addresses in the format
# Person A <a@example.com>, Person B <b@example.com>, ...
/directory.csv

# dev db
/tree.db

# binaries and outputs
/treed
/pi.tar.xz