:root {
    --accent: #87cefa;
    --sadge: #8f8f8f;
}

body {
    background-color: black;
    color: white;
}

nav {
    display: flex;
    border-bottom: 2px dotted white;
    align-items: center;
}

nav h1 {
    margin: 0 0.5rem;
    color: var(--accent)
}

nav .spacer {
    flex-grow: 1;
}

#statusdot {
    background-color: var(--sadge);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 0.25rem;
}

button {
    background-color: var(--accent);
    border: none;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
}

button:disabled {
    background-color: var(--sadge);
    cursor: default;
    color: white;
}

li {
    margin-top: 0.5rem;
}

* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}